@using WebApplication13.Entity;
@{
    Layout = null;
    string Chuoi = string.Empty;
    bool isLoggedIn = false;
    if (Session["User"] != null)
    {
        var u = (User)Session["User"];
        isLoggedIn = true;
        Chuoi = "User dang login la " + u.Username;
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @if (isLoggedIn)
        {
            @Chuoi
        }
        else
        {
            <a href="~/UI/MH_DangKy_TaiKhoan.cshtml">Dang Ky</a>
            <a href="~/UI/MH_DangNhap.cshtml">Dang Nhap</a>
        }
    </div>
</body>
</html>
