@using WebApplication15
@{
    string chuoi = string.Empty;
    if (IsPost)
    {
        int A = int.Parse(Request["A"]);
        int B = int.Parse(Request["B"]);
        int C = int.Parse(Request["C"]);
        chuoi = GiaiToan.GiaiPhuongTrinhBacHai(A, B, C);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Giải phương trình bậc 2: Ax^2 + Bx + C = 0</h2>
        <form action="~/GiaiPhuongTrinhBac2.cshtml" method="post">
            Nhập A:<br />
            <input type="text" name="A" value="@Request["A"]" /><br />
            Nhập B:<br />
            <input type="text" name="B" value="@Request["B"]" /><br />
            Nhập C:<br />
            <input type="text" name="C" value="@Request["C"]" /><br />
            <input type="submit" value="Giải" />
        </form>
        @Html.Raw(chuoi)
    </div>
</body>
</html>
