@using WebApplication13.Entity;
@using WebApplication13.Business;
@{
    Layout = null;
    List<SanPham> dsSanPham = null;
    string tuKhoa = string.Empty;
    if (IsPost)
    {
        tuKhoa = Request["tuKhoa"];
    }
    dsSanPham = XL_SanPham.DocDanhSach(tuKhoa);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/UI/MH_DanhSachSanPham.cshtml" method="post">
            Keyword: <br />
            <input type="text" name="tuKhoa" /> <br />
            <input type="submit" value="Search" />
            <a href="~/UI/MH_ThemSanPham.cshtml"><input type="button" value="Add" /></a>
        </form>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>Mã Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá Sản Phẩm</th>
                <th>Xử lý</th>
            </tr>
            @foreach (var sp in dsSanPham)
            {
                <tr>
                    <td>@sp.MaSP</td>
                    <td>@sp.TenSP</td>
                    <td>@sp.Gia</td>
                    <td>
                        <a href="~/UI/MH_XoaSanPham.cshtml?id=@sp.MaSP"><input type="button" value="Delete" /></a>
                        <a href="~/UI/MH_SuaSanPham.cshtml?id=@sp.MaSP"><input type="button" value="Update" /></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
