@using WebApplication13.Entity;
@using WebApplication13.Business;
@{
    Layout = null;
    if (IsPost)
    {
        SanPham sp;
        sp.MaSP = int.Parse(Request["MaSp"]);
        sp.TenSP = Request["TenSp"];
        sp.Gia = int.Parse(Request["Gia"]);
        XL_SanPham.ThemSanPham(sp);
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/UI/MH_LuuTruSanPham.cshtml" method="post">
            Ma San Pham: <br />
            <input type="text" name="MaSp" /> <br />
            Ten San Pham: <br />
            <input type="text" name="TenSp" /> <br />
            Gia San Pham: <br />
            <input type="text" name="Gia" /> <br />
            <input type="submit" value="Submit" />
        </form>
        <a href="~/UI/MH_DanhSachSanPham.cshtml"><input type="button" value="Quay về" /></a>
    </div>
    
</body>
</html>
