@using WebApplication13.Entity;
@using WebApplication13.Business;
@{
    Layout = null;
    List<SanPham> dsSanPham = null;
    if (IsPost)
    {
        SanPham sp;
        sp.MaSP = int.Parse(Request["MaSP"]);
        sp.TenSP = Request["TenSP"];
        sp.Gia = int.Parse(Request["Gia"]);
        XL_SanPham.SuaSanPham(sp);
    }
    dsSanPham = XL_SanPham.DocDanhSach();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/UI/MH_SuaSanPham.cshtml" method="post">
            Mã Sản Phẩm: <br />
            <input type="text" name="MaSP" value="@Request["id"]" readonly/> <br />
            Tên Sản Phẩm: <br />
            <input type="text" name="TenSP" /> <br />
            Giá Sản Phẩm: <br />
            <input type="text" name="Gia" /> <br />
            <input type="submit" value="Update" />
            <a href="~/UI/MH_DanhSachSanPham.cshtml"><input type="button" value="Search" /></a>
        </form>
    </div>
    <div>
        <table border="1">
            <tr>
                <th>Mã Sản Phẩm</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá Sản Phẩm</th>
                <th>Xử lý</th>
            </tr>
            @foreach (var sp in dsSanPham)
            {
        <tr>
            <td>@sp.MaSP</td>
            <td>@sp.TenSP</td>
            <td>@sp.Gia</td>
            <td><a href="~/UI/MH_XoaSanPham.cshtml?id=@sp.MaSP"><input type="button" value="Delete" /></a></td>
            <td><a href="~/UI/MH_SuaSanPham.cshtml?id=@sp.MaSP"><input type="button" value="Update" /></a></td>
        </tr>
            }
        </table>
    </div>
</body>
</html>
