@using WebApplication9
@{
    string chuoi = string.Empty;
    string dsDiem = string.Empty;
    if (IsPost)
    {
        dsDiem = Request["dsDiem"];
        DaGiac A = XL_DaGiac.KhoiTao(dsDiem);
        double kq = XL_DaGiac.TinhChuVi(A);
        chuoi = $"Chu vi đa giác là {kq}";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form action="~/MH_TinhChuViDaGiac.cshtml" method="post">
            Nhập danh sách các điểm: <br />
            <input type="text" name="dsDiem" value="@dsDiem" placeholder="1,2|3,4|5,6"/><br />
            <input type="submit" value="Submit" />
        </form>
        @Html.Raw(chuoi)
    </div>
</body>
</html>
