@using WebApplication13.Entity;
@using WebApplication13.Business;
@{
    Layout = null;
    string chuoi = string.Empty;
    var masp = Request["id"];
    if (!string.IsNullOrEmpty(masp))
    {
        XL_SanPham.XoaSanPham(int.Parse(masp));
        chuoi = "Xóa thành công";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.Raw(chuoi)
        <br />
        <a href="~/UI/MH_DanhSachSanPham.cshtml"><input type="button" value="Return" /></a>
    </div>
    
</body>
</html>
